* {
    font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
}

br {
    clear: both
}

pre {
    font-family : Courier;    
}

#page-controls a {
    text-decoration: none;
}

#page-controls button {
    margin-top: 1%;
    border-width: 1px;
}

/* IMAGES */

div.currentmasterreport img {
    border: 0;
}

/* TABLES */

div.currentmasterreport table {
    border-spacing: 0px;
    empty-cells: show;
}

div.currentmasterreport table th {
    color: #2b7c92;
    white-space: nowrap;
    padding: 2px 8px;
    background-color: #cfe0f1;
    background-image: none;
    color: #2b7c92;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: underline;
}

div.currentmasterreport table td {
    background: none;
    border-top: 1px #fff solid;
    border-bottom: 1px #ccc solid;
    font-size: 8pt;
    padding: 3px 9px;
    background-color: #f2f2f5;
    border-collapse: collapse;
}