body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

#main-table {
    text-align: center;
    background-color: white;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#main-table ul {
    list-style: none;
    padding: 0;
}

#main-table li {
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: black;
}

fieldset {
    border-radius: 10px;
    
}

fieldset:hover {
    box-shadow: 4px 4px rgb(232, 232, 232);
    background-color: rgb(241, 240, 240);
}